<div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center">
        <button class="vs-menu-toggle">
            <i class="fal fa-times"></i>
        </button>
        <div class="mobile-logo">
            <a href="#">
                <img src="img/logo-2.png" alt="Bizino">
            </a>
        </div>
        <div class="vs-mobile-menu">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Services</a>
                </li>
                <li>
                    <a href="@Url.Action("About", "Home")">About</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<header class="vs-header header-layout5">
    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <div class="header-logo">
                        <a href="#">
                            <img src="~/img/logo.png" class="main-logo" alt="Talergy Solutions">
                        </a>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="row justify-content-between align-items-center gx-15">
                        <div class="col-auto">
                            <div class="media-style1 has-bg">
                                <div class="media-icon">
                                    <i class="fal fa-map-marked-alt"></i>
                                </div>
                                <div class="media-body">
                                    <span class="media-label">Office Address</span>
                                    <p class="media-info">Dahisar (E) Mumbai - 400068</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="media-style1">
                                <div class="media-icon">
                                    <i class="fal fa-at"></i>
                                </div>
                                <div class="media-body">
                                    <span class="media-label">Send Us Mail</span>
                                    <p class="media-info">
                                        <a href="mailto:info@talergy.com" class="text-inherit">info@talergy.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-none d-xl-block">
                    <div class="social-style1">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                </div>
                <div class="col-auto d-block d-lg-none">
                    <button class="vs-menu-toggle">
                        <i class="fal fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-area d-none d-lg-block">
        <div class="container">
            <div class="row gx-0 align-items-center justify-content-between">
                <div class="col">
                    <div class="row justify-content-between align-items-center inner-wrap gx-0">
                        <div class="col-auto">
                            <nav class="main-menu menu-style4 d-none d-lg-block">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index", "Home")">Home</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Contact", "Home")">Services</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("About", "Home")">About</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Contact", "Home")">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="media-style1 layout2">
                        <div class="media-icon">
                            <i class="fas fa-headset"></i>
                        </div>
                        <div class="media-body">
                            <span class="media-label">NEED HELP NOW?</span>
                            <p class="media-info">
                                <a href="tel:+9177759537699" class="text-inherit">+91-7775953769</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>